html {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// flex properties
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-between {
  align-items: space-between;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

// columns
.flex-100 {
  flex: 0 0 100%;
}

.flex-80 {
  flex: 0 0 80%;
}

.flex-65 {
  flex: 0 0 65%;
}

.flex-50 {
  flex: 0 0 50%;
}

.flex-40 {
  flex: 0 0 40%;
}

.flex-30 {
  flex: 0 0 30%;
}

.flex-35 {
  flex: 0 0 35%;
}

.flex-26 {
  flex: 0 0 26%;
}

.flex-20 {
  flex: 0 0 20%;
}

.flex-10 {
  flex: 0 0 10%;
}

.flex-5 {
  flex: 0 0 5%;
}

// text properties
.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

.font-0 {
  font-size: 0;
}

.width-full {
  width: 100%;
}

// headings
@while $heading <=6 {
  h#{$heading} {
    font-size: 3rem - ($heading * 0.4);
    font-weight: $weight;
  }

  $heading : $heading +1;
  $weight : $weight - 100;
}

// paddings
@for $p from 1 through 3 {
  .padding-#{$p} {
    padding: $padding - 1 0;
    $padding : $padding - 1.3;
  }
}

// buttons
.btn {
  padding: 0.3rem 0.8rem;
  margin-top: 0.5rem;
  display: inline-block;
  border-radius: 2rem;

  &-primary {
    background-color: $primary;
    color: $secondary;
  }

  &-secondary {
    background-color: $secondary;
    color: $primary;
    border: 1px solid $primary;
  }

  &-tertiary {
    background-color: $primary;
    color: $secondary;
    border: 1px solid $secondary;
  }
}