.first-nav {
  background-color: $primary;

  & a {
    color: $secondary;
    margin-right: 1rem;
  }

  & span {
    margin-right: 0.3rem;
  }
}


.second-nav {
  background-color: #f2f2f2;


  & ul a {
    display: inline-block;
    padding: 1.3rem 0.8rem;
    color: $tertiary;
    font-weight: 500;
  }

  & ul a:hover {
    background-color: $primary;
    color: $secondary;
  }

  & h2 {
    font-weight: 700;
    margin-top: 0.5rem;
  }
}

.brand a :first-child {
  color: $primary;
}

.brand a :last-child {
  color: $tertiary;
}

.hero-area {
  position: relative;
  height: 85vh;
  margin-bottom: 1rem;
}

.hero {
  background: url(/block-BHaacu/assets/media/banner-1.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-text {
  width: 35%;
  margin-left: 9rem;

  h1 {
    font-weight: 900;
  }
}

// services
%design {
  h3 {
    font-weight: 700;
  }

  p {
    color: $text-gray;
    padding: 1rem 0;
  }
}

.services {
  @extend %design;

  img {
    width: 3rem;
  }

  article {

    border: 1px solid $text-gray;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;

    h4 {
      font-weight: 500;
    }
  }
}

.solutions {
  @extend .services;
  background-color: $background;

  article {
    width: 60%;
    margin: 0 auto;
    border: none
  }
}

.top-consulting {
  article {
    @extend .services;
    margin-right: 2rem;
  }

  img {
    object-fit: cover;
    width: 100%;
  }

  h3 {
    font-weight: 800;
  }
}

.quote {
  background-color: $primary;
  margin: 3rem 0;

  h4 {
    color: $secondary;
    font-weight: 700;
  }

  p {
    color: $secondary;
  }
}

.industry-leader {
  article {
    @extend %design;
  }
}

.clients {
  background-color: $background;

  h3 {
    font-weight: 800;
  }

  img {
    filter: grayscale(1);
  }
}

.footer {
  background-color: #343a40;
  color: $text-gray;

  a {
    color: $text-gray;
  }

  h4 {
    color: #f2f2f2b1;
    font-weight: 600;
  }

  li {
    margin: 0.8rem 0;
  }
}

.follow {
  li {
    margin-right: 0.8rem;
  }
}

.copyright {
  span {
    color: #f2f2f2b1;
  }
}