.pricing {
  background-color: $background;

  p {
    width: 60%;
    margin: 0 auto;
    color: $text-gray;
  }

  div {
    border: 1px solid rgb(179, 166, 166);
    padding: 2rem 2.5rem;
    background-color: $secondary;
  }

  .price {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    margin: 0.8rem 0;
  }

  .price::before {
    content: "$";
  }

  & span:nth-last-of-type(1) {
    font-size: 0.8rem;
    color: $text-gray;
    font-weight: 600;
  }

  h5 {
    margin: 0.8rem 0;
    color: rgba(0, 0, 0, 0.803);
    font-weight: 600;
  }

  li {
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
  }
}