.about-us {
  h3 {
    font-weight: 700;
  }
}

.industry-leader {
  span {
    color: $primary;
  }
}

.our-products {
  img {
    width: 20%;
  }

  & div:last-child {
    flex-wrap: wrap;
  }

  h4 {
    margin: 0.3rem 0;
    font-weight: 600;
  }


  background-color: $background;

  p {
    color: $text-gray;
  }

  & div:last-child {
    & :first-child {
      position: relative;
    }
  }

  .hr {
    position: absolute;
  }

  .m-b {
    margin-bottom: 2rem;
  }
}