@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;0,900;1,300;1,600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.3;
  font-family: 'Archivo', sans-serif;
  letter-spacing: 0.08rem;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.align-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.flex-80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.flex-65 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.flex-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.flex-35 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.flex-26 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26%;
          flex: 0 0 26%;
}

.flex-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.flex-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.flex-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

.font-0 {
  font-size: 0;
}

.width-full {
  width: 100%;
}

h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
}

h6 {
  font-size: 0.6rem;
  font-weight: 200;
}

.padding-1 {
  padding: 3rem 0;
}

.padding-2 {
  padding: 1.7rem 0;
}

.padding-3 {
  padding: 0.4rem 0;
}

.btn {
  padding: 0.3rem 0.8rem;
  margin-top: 0.5rem;
  display: inline-block;
  border-radius: 2rem;
}

.btn-primary {
  background-color: #dc3c45;
  color: #ffffff;
}

.btn-secondary {
  background-color: #ffffff;
  color: #dc3c45;
  border: 1px solid #dc3c45;
}

.btn-tertiary {
  background-color: #dc3c45;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.first-nav {
  background-color: #dc3c45;
}

.first-nav a {
  color: #ffffff;
  margin-right: 1rem;
}

.first-nav span {
  margin-right: 0.3rem;
}

.second-nav {
  background-color: #f2f2f2;
}

.second-nav ul a {
  display: inline-block;
  padding: 1.3rem 0.8rem;
  color: #1b1e24;
  font-weight: 500;
}

.second-nav ul a:hover {
  background-color: #dc3c45;
  color: #ffffff;
}

.second-nav h2 {
  font-weight: 700;
  margin-top: 0.5rem;
}

.brand a :first-child {
  color: #dc3c45;
}

.brand a :last-child {
  color: #1b1e24;
}

.hero-area {
  position: relative;
  height: 85vh;
  margin-bottom: 1rem;
}

.hero {
  background: url(/block-BHaacu/assets/media/banner-1.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-text {
  width: 35%;
  margin-left: 9rem;
}

.hero-text h1 {
  font-weight: 900;
}

.services h3, .solutions h3, .top-consulting article h3, .industry-leader article h3 {
  font-weight: 700;
}

.services p, .solutions p, .top-consulting article p, .industry-leader article p {
  color: #898f95;
  padding: 1rem 0;
}

.services img, .solutions img, .top-consulting article img {
  width: 3rem;
}

.services article, .solutions article, .top-consulting article article {
  border: 1px solid #898f95;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
}

.services article h4, .solutions article h4, .top-consulting article article h4 {
  font-weight: 500;
}

.solutions {
  background-color: #f2f2f2;
}

.solutions article {
  width: 60%;
  margin: 0 auto;
  border: none;
}

.top-consulting article {
  margin-right: 2rem;
}

.top-consulting img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.top-consulting h3 {
  font-weight: 800;
}

.quote {
  background-color: #dc3c45;
  margin: 3rem 0;
}

.quote h4 {
  color: #ffffff;
  font-weight: 700;
}

.quote p {
  color: #ffffff;
}

.clients {
  background-color: #f2f2f2;
}

.clients h3 {
  font-weight: 800;
}

.clients img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.footer {
  background-color: #343a40;
  color: #898f95;
}

.footer a {
  color: #898f95;
}

.footer h4 {
  color: #f2f2f2b1;
  font-weight: 600;
}

.footer li {
  margin: 0.8rem 0;
}

.follow li {
  margin-right: 0.8rem;
}

.copyright span {
  color: #f2f2f2b1;
}

.about-us {
  background-color: #dc3c45;
  color: #ffffff;
}

.about-us h3 {
  font-weight: 600;
}

.about-us p {
  margin-top: 0.5rem;
}

.motto h4 {
  color: #1b1e24;
  font-weight: 500;
}

.motto i {
  display: inline-block;
  color: #1b1e24;
  font-size: 3rem;
  margin-right: 1.5rem;
}

.motto p {
  color: #898f95;
  padding: 0.5rem 0;
}

.motto-text > div {
  margin-bottom: 1rem;
}

.team {
  background-color: #f2f2f2;
}

.team figure {
  background-color: #ffffff;
  font-size: 1.2rem;
}

.team span {
  display: block;
  color: #dc3c45;
  font-weight: 500;
  font-size: 0.8rem;
}

.team figcaption {
  padding: 1rem 0;
}

.solutions {
  background-color: #ffffff;
}

.about-us h3 {
  font-weight: 700;
}

.industry-leader span {
  color: #dc3c45;
}

.our-products {
  background-color: #f2f2f2;
}

.our-products img {
  width: 20%;
}

.our-products div:last-child {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-products h4 {
  margin: 0.3rem 0;
  font-weight: 600;
}

.our-products p {
  color: #898f95;
}

.our-products div:last-child :first-child {
  position: relative;
}

.our-products .hr {
  position: absolute;
}

.our-products .m-b {
  margin-bottom: 2rem;
}

.pricing {
  background-color: #f2f2f2;
}

.pricing p {
  width: 60%;
  margin: 0 auto;
  color: #898f95;
}

.pricing div {
  border: 1px solid #b3a6a6;
  padding: 2rem 2.5rem;
  background-color: #ffffff;
}

.pricing .price {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  margin: 0.8rem 0;
}

.pricing .price::before {
  content: "$";
}

.pricing span:nth-last-of-type(1) {
  font-size: 0.8rem;
  color: #898f95;
  font-weight: 600;
}

.pricing h5 {
  margin: 0.8rem 0;
  color: rgba(0, 0, 0, 0.803);
  font-weight: 600;
}

.pricing li {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}
/*# sourceMappingURL=style.css.map */